doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet' href='css/boostrap_minified.css' type="text/css")
    link(rel='stylesheet' href='css/boostrap optional.css' type="text/css")
    link(rel='stylesheet' href='css/style.css' type="text/css")
    script(type='text/javascript' src='js/jquery.js')
  body
    div#container
      block content
